@import 'https://fonts.googleapis.com/css?family=Lato:300';

@font-face {
	font-family: 'DINPro-Bold';
	font-style: normal;
	font-weight: normal;
	src: local('DINPro-Bold'), url('../font/DINPro-Bold_13934.woff') format('woff');
}

@font-face {
	font-family: 'DINPro-Light';
	font-style: normal;
	font-weight: normal;
	src: local('DINPro-Light'), url('DINPro-Light_13935.woff') format('woff');
}

* {
	box-sizing: border-box;
}

h1,
h2,
h4,
h5,
h6 {
	font-family: rale;
	letter-spacing: 1px;
}

h2 {
	font-size: 26px;

}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	/* line-height: 1.5; */
	font-weight: normal;

}

h4 {
	margin-top: 15px;
	font-size: 16px;
}

h5 {
	font-family: Lato, sans-serif;
	line-height: 1.5;
	font-weight: normal;
	padding: 10px 0;
	font-size: 12px;
}

p {

	font-family: Lato, sans-serif;
	font-size: 15px;
}

.wap {
	width: 100%;
	margin: auto;
	clear: both;
}

.bienvenidos {
	margin-top: 50px;
	padding-bottom: 100px;
	text-align: center;
}

.colx2 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	margin-bottom: 4em;
}

.colx2 h3 {
	color: #1978be;
	font-size: 1.5em;
	font-weight: bold;
}

.colx2 h2 {
	color: #d86e32;
	font-size: 2em;
	padding-left: 150px;
}

.colx2 .efect {
	padding-left: 150px;
}

.colx2 h4 {
	position: relative;
	display: inline-block;
	color: #1978be;
	font-size: 1.4em;
	text-transform: capitalize;
}

.colx2 h4:before,
.colx2 h4:after {
	content: '';
	position: absolute;
	width: 7px;
	top: -25%;
	height: 160%;
	box-sizing: border-box;
	border-top: 3px solid #ff802b;
	border-bottom: 3px solid #ff802b;
}

.colx2 h4:before {
	border-left: 3px solid #ff802b;
	left: 0;
}

.colx2 h4:after {
	right: 0;
	border-right: 3px solid #ff802b;
}

.colx2 p {
	color: #d86e32;
	font-size: 1.3em;
	text-transform: capitalize;
	padding: 0 30px;
}

/*SECCIONES */

.contenedor-columnas {
	width: 100%;
	/* margin: auto;
	margin-bottom: 50px; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.columnasx2 {
	width: 50%;
	height: 60vh;
	float: left;
	box-sizing: border-box;
}

.columnasx2 h2 {
	color: #1978be;
	font-size: 2.5em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

.columnasx2 p {
	font-size: 1.6em;
	text-align: center;
	color: #444;
}

.columnasx2 .text-justify {
	text-align: right;
	font-size: 2em;
	margin-top: 5em;
	margin-right: 1em;
}

.columnasx2 .btn-soluciones {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: #FE7F2D;
	margin-top: 20px;
	margin-left: 62%;
	padding: 1em 2em;
	color: #fff;
	transition: all 0.4s;
	font-weight: bold;
}

.columnasx2 .btn-soluciones:hover {
	box-shadow: 1px 1px 10px #444;
}

.btn-servicio {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background: #FE7F2D;
	margin-top: 20px;
	margin-left: 42%;
	padding: 1em 2em;
	color: #fff;
	transition: all 0.4s;
	font-weight: bold;

}


.btn-servicio:hover {
	background: white;
	color: #FE7F2D;
	transition: all 500ms;
	box-shadow: 1px 1px 10px #444
}

.columnasx2 img {
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.columnasx2 h4 {
	padding-top: 2em;
	font-size: 1.5em;
	color: #1978be;
}

.bg-plomo {
	background-color: #ECECEC;
}

.bg-blancoGris {
	background: #F8F8F8;
}

.experiencia {
	padding-top: 8em;
}

.experiencia h4 {
	font-size: 1.2em;
}

.experiencia p {
	font-size: 2em;
	color: #1978be;
	text-align: left;
	line-height: 1.5em;
	margin-left: 30%;
}

.experiencia .certificado {
	width: 600px;
	height: 75px;
	margin-left: 20%;
}

.contenedor-columnas3 {
	width: 100%;
	/* margin: auto;
	margin-bottom: 50px; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

/*Seccion Servicios*/
.SerItems {
	width: 100%;
	padding-left: 6em;
	padding-top: 4em;
}

.Ser-item {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	padding: 0 40px;
	box-sizing: border-box;
}

.Ser-item-marg {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	min-height: 360px;
	padding: 33px 10px;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}

.Ser-icono {
	position: relative;
	margin-bottom: 30px;
}

.Ser-icono img {
	width: 108px;
	height: 108px;
	display: block;
}

.Ser-item-titulo {
	margin-bottom: 40px;
	min-height: 50px;
}

.Ser-item-titulo h3 {
	margin: 0;
	font-size: 24px;
	color: #1978be;
}

/************************************************************************************************/
/***************** PAGINA NOSOTROS ********************/

/*  CALIDAD DE SERVICIO */
.contenedor-calidad {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	background: #EDEDED;
}

.contenedor-calidad .columnasx1 {
	margin: 50px 0px 70px;
}

.contenedor-calidad .columnasx1 h2 {
	text-align: center;
	color: #057092;
	font-size: 2.2em;
	font-family: sans-serif;
	margin-bottom: 0.7em;
}

.contenedor-calidad .columnasx1 p {
	color: #666;
	font-size: 1.3em;
	font-family: DINPro-Light;
	line-height: 1.3;
	text-align: center;
}

/*POLITICA DE LA CALIDAD*/
.contenedor-politica {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: #086F91;
	margin: auto;
}

.contenedor-politica .columnasx1 {
	margin: 50px 0px 70px;
	color: white;
}

.contenedor-politica .columnasx1 h2 {
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 2.2em;
	padding-left: 200px;
	font-weight: normal;
	position: relative;
	margin-bottom: 35px;
	line-height: 1;
}

.contenedor-politica .columnasx1 p {
	font-size: 19px;
	margin: 0 0 15px;
	font-family: sans-serif;
	font-weight: normal;
	padding-left: 200px;
}

.contenedor-politica .columnasx1 ul li {
	font-size: 19px;
	padding-left: 250px;
	position: relative;
	margin-bottom: 10px;
	list-style: none;
	
}

.contenedor-politica .columnasx1 ul li::before {
	content: '';
	position: absolute;
	top: 5px;
	left: 200px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url("/img/img-list.png") 0px 0px no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
/*Seccion SEDE*/
.contenedor-sede{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	margin-bottom: 0;
}
.contenedor-sede .columnasx1{
	width: 50%;
	float: left;
	box-sizing: border-box;
	color: #057092;
	
}
.contenedor-sede .columnasx1 h2{
	margin-top: 2.5em;
	font-size: 2.2em;
	font-family: 'DINPro-Bold';
}
.contenedor-sede .columnasx1 p{	
	margin-top: 0.9em;
	font-family: sans-serif;
	font-weight: normal;
	text-align: justify;
	margin-left: 20em;
	margin-bottom: 1.3em;
	line-height: 0.2;
}
.contenedor-sede .columnasx1 .btn-servicio{
	margin: auto;
}
.contenedor-sede .columnasx1 img{
	width: 100%;
	height: 100%;
}

/* VISION Y MISION */
.contenedor-columnas {
	width: 100%;
	/* margin: auto;
	margin-bottom: 50px; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 100px;
	background: #ff802b;
	height: 50vh;
	margin-bottom: 0;
}

.columnasx3 {
	width: 30%;
	height: 50vh;
	float: left;
	box-sizing: border-box;
}

.columnasx3 img {
	width: 100%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.columnasx3 h2 {
	text-align: center;
	font-size: 2em;
	font-family: 'DINPro-Bold';
	font-weight: 700;
	color: white;
	margin-top: 3.5em;
}

.columnasx3 p {
	text-align: justify;
	font-size: 1.2em;
	line-height: 1.3;
	padding-left: 5em;
	color: white;
	font-weight: 700;
	margin-top: 1.4em;
}

/*******************************************************************/
/**************** PAGINA EXXPERIENCIA *****************************/

.contenedor-experiencia-banner{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: 60vh;
}
.contenedor-experiencia-banner .columnasx2-exp{
	width: 50%;
	float: left;
	box-sizing: border-box;
	color: #057092;
}
.contenedor-experiencia-banner .columnasx2-exp .exp-h2{
	text-align: center;
	font-size: 2em;
	font-family: 'DINPro-Bold';
	font-weight: 700;
	margin-top: 1em;
	
}
.contenedor-experiencia-banner .columnasx2-exp span{
	color: #ff802b;
	font-weight: 700;
	font-size: 1.5em;
}
.contenedor-experiencia-banner .columnasx2-exp .exp-text1{
	text-align: center;
	font-size: 1.5em;
	font-family: sans-serif;
}
.contenedor-experiencia-banner .columnasx2-exp .exp-text2{
	text-align: justify;
	font-size: 1em;
	font-weight: bold;
	padding: 3em;
}
.contenedor-experiencia-banner .columnasx2-exp img{
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* CARD DE EXPERIENCIA */
.container-card{
	position: relative;
	width: 100%;
	margin: 20px 0 auto;
	height: auto;;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
	grid-template-rows: auto 1fr auto;
	grid-gap: 0px;  
}
.container-card .card{
	position: relative;
	width: 33%;
	height: 440px;
	background: #000;
	overflow: hidden;
	margin: 0px;
	width: 100%;
	transition: 0.5s;
}
.container-card .card:hover{
	transform: translateY(-20px);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.container-card .card .img-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}

.container-card .card:hover .img-box{
	opacity: 0.5;
}
.container-card .card .img-box img{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	transition: 0.5s;
}
.container-card .card .img-box:hover img{
	opacity: unset;
}
.container-card .card .icon{
	position: absolute;
	top: 40%;
	left: 45%;
	color: #fff;
	font-size: 3em;
	transition: 0.5s;
}
.container-card .card:hover .icon{
	top: -40%;
}
.container-card .card .content{
	position: absolute;
	width: 100%;
	height: 60%;
	bottom: -100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition: 0.5s;
}
.container-card .card:hover .content{
	bottom: 0;
}

.container-card .card:nth-child(1) .content{
	background: linear-gradient(0deg,#c21833,transparent);
}
.container-card .card:nth-child(2) .content{
	background: linear-gradient(0deg,#8012a5,transparent);
}
.container-card .card:nth-child(3) .content{
	background: linear-gradient(0deg,#3a414c,transparent);
}
.container-card .card:nth-child(4) .content{
	background: linear-gradient(0deg,#2196f3,transparent);
}
.container-card .card:nth-child(5) .content{
	background: linear-gradient(0deg,#f32172,transparent);
}
.container-card .card:nth-child(6) .content{
	background: linear-gradient(0deg,#ece1e5,transparent);
}


.container-card .card .content h2{
	margin: 0 0 10px;
	padding: 0;
	font-size: 20px;
	color: #fff;
}
.container-card .card .content h2 span{
	color: #ffeb3b;
	font-size: 16px;
}
.container-card .card .content p{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
}